:root {
    --accent: rgb(19, 33, 228);
    --accentRGB: 19, 33, 228;
    --light-gray: rgb(245, 245, 245);
}

h1 {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 100rem;
    background-color: var(--light-gray);
    color: var(--accent);
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

main {
    display: flex;
    margin: 0 auto;
    max-width: 100rem;
    height: 100vh;
    background-color: var(--light-gray);
    overflow-x: scroll;
}

/* SIDEBAR CONTAINING THE LIST OF USERS  */

ul {
    width: 20rem;
    min-height: 23rem;
    list-style: none;
}

.user {
    display: block;
    padding: 1rem 1rem;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    text-align: left;
    white-space: nowrap;
    overflow-x: scroll;
    transition: 150ms;
    cursor: pointer;
}

.user:hover,
.user:focus {
    background-color: #ccc;
}

.selected {
    background-color: var(--accent);
    color: white;
}

.selected:hover,
.selected:focus {
    background-color: var(--accent);
}

.no-users {
    margin: 0 auto;
    padding-top: 4rem;
    width: fit-content;
}

.toggle-sidebar {
    display: none;
    margin-left: auto;
    padding: unset;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--accent);
    background-color: white;
    color: var(--accent);
}

/* PAGINATION CONTROLS */

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.pagination-controls > button {
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 3px;
    background-color: var(--accent);
    color: white;
    cursor: pointer;
}

.pagination-controls > button:focus-visible,
.pagination-controls > button:hover {
    background-color: rgba(var(--accentRGB), 0.15);
    outline: 2px solid var(--accent);
    color: black;
    transition: 150ms;
}

/* USER DETAILS */

.user-details-container {
    flex-grow: 1;
    padding: 4rem 1rem 0;
    background-color: white;
    border-right: 0.75rem solid var(--light-gray);
}

.user-details {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    width: fit-content;
}

.user-details > img {
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 1rem;
}

.user-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.25rem;
}

.user-details-email {
    color: var(--accent);
    text-decoration: underline;
    cursor: pointer;
}

/* LOADING SPINNER */

.loading-spinner {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    border: 5px solid #d6f0f7;
    border-bottom-color: var(--accent);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
}

/* ANIMATIONS */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* RESPONSIVE STYLES FOR SMALLER DEVICES */

@media (max-width: 840px) {
    ul {
        width: 16rem;
        min-height: 22rem;
    }

    .user > h2 {
        font-size: 1.4rem;
    }

    .user-details > img {
        width: 8rem;
    }
}

@media (max-width: 730px) {
    ul {
        width: 14rem;
        min-height: 21rem;
    }

    .user > h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 700px) {
    ul {
        position: relative;
    }

    .sidebar-closed {
        width: 1.5rem;
    }

    .sidebar-closed > li,
    .sidebar-closed > .no-users {
        display: none;
    }

    .arrow {
        transition: 150ms;
    }

    .sidebar-closed .arrow {
        transform: rotate(180deg);
    }

    .toggle-sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        transform: translateX(35%);
        transition: 300ms;
    }

    .user > h2 {
        font-size: 1.2rem;
    }
}

@media (max-width: 535px) {
    .user-details {
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
    }

    .user-details > img {
        margin: 0 auto;
    }
}

@media (max-width: 410px) {
    .user-details-text {
        font-size: 1rem;
    }
}
